language: node_js
node_js:
  - "6"
  - "7"
  - "8"
cache:
  directories:
    - "node_modules"
before_script:
  - npm install -g gulp-cli nyc typescript mocha
install:
  - npm install
script:
  - npm run test